<Header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
  <img src="logo.png" />
  
  <hr style="border: 1px solid green">

</Header>
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<Body >  
  <img id="easteregg"  />
  <div id="back" style="margin-left:20px">
  
      <p style="margin-left:5px;margin: 0px" id="Remaining"></p>  
  
  <h5 style="margin-top:25px;"  > Budget </h5>
    <Div style="margin-top:15px;">
      
    <div class="slidecontainer">
      <input type="range" min="1000" max="6000" value="3000" class="slider" style="width: 430px" step="1000" id="myRange" >
    </div>
    
    <span>  1000 Wh </span>
    <span style="margin-left:125px" id="Anzeige"></span>
     <span style="margin-left:130px"> 6000 Wh  </span>
      
    <!-- <input type="button" id='script' name="scriptbutton" value="1000Wh" onclick="RunPython1000()">
    <input type="button" id='script' name="scriptbutton" value="2000Wh" onclick="RunPython2000()">
    <input type="button" id='script' name="scriptbutton" value="3000Wh" onclick="RunPython3000()">
    <input type="button" id='script' name="scriptbutton" value="4000Wh" onclick="RunPython4000()">
    <input type="button" id='script' name="scriptbutton" value="5000Wh" onclick="RunPython5000()"> -->
    </Div> 
    <Div style="margin-top:25px;">
      <button id="a" style="background:#f2f2f2;height:100px;width:450px"></button>
    </Div>    
    <Div>
      <button id="b" style="background:#f2f2f2;height:100px;width:450px"></button>
    </Div>    
    <Div>
      <button id="c" style="background:#f2f2f2;height:100px;width:450px"></button>
    </Div>

    <div style="margin-top:25px; background: #e6f2ff; width: 450px; border-left: 3px solid #3399ff">
      <h3 style="margin-left:5px" id="reco"></h3>
      <img id="success"  style="width:50px" />
     
      
      <p style="margin-left:5px;margin: 0px" id="OffLaptops"></p> 
      <p style="margin-left:5px;margin: 0px" id="OffLights"></p> 
      <p style="margin-left:5px;margin: 0px" id="OffBeamers"></p>
      <span style="margin-left:5px;margin: 0px" id="TimeEndBudget"></span> 
    
    </div>

    <Div style="margin-top:25px; background: #e6f2ff; width: 450px; border-left: 3px solid #009933" style="margin-top:25px;">
       <hr>
      <span style="margin-left:5px ;margin: 0px" id="UserCount"></span>
      <p style="margin-left:5px;margin: 0px" id="UsedBudget"></p> 
      <p style="margin-left:5px;margin: 0px" id="Budget"></p> 
      <p style="margin-left:5px;margin: 0px" id="BudgetSlider"></p> 
      <p style="margin-left:5px;margin: 0px" id="Duration"></p> 
      <p style="margin-left:5px;margin: 0px" id="PercentLaptops"></p> 
      <p style="margin-left:5px;margin: 0px" id="PercentLights"></p> 
      <p style="margin-left:5px;margin: 0px" id="PercentBeamers"></p> 
      <p style="margin-left:5px;margin: 0px" id="TotalUsageHour"></p> 
      <p style="margin-left:5px" id="UsageLaptops"></p> 
    </div>

    
    <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("Anzeige");
    output.innerHTML = slider.value ; // Display the default slider value
    
      RunPython3000();
    
        
      //document.getElementById("easteregg").src="meme.jpg";
    //Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = this.value
      if(output.innerHTML == 1000){
        RunPython1000();
        document.getElementById("easteregg").style.display="none";}
      if(output.innerHTML == 2000){
        RunPython2000();
        document.getElementById("easteregg").style.display="none";}
      if(output.innerHTML == 3000){
        RunPython3000();
        document.getElementById("easteregg").style.display="none";}
      if(output.innerHTML == 4000){
        RunPython4000();
        document.getElementById("easteregg").style.display="none";}
      if(output.innerHTML == 5000){
        RunPython5000();
        document.getElementById("easteregg").style.display="none";}
        
      if(output.innerHTML == 6000){
        document.getElementById("easteregg").style.display="";
        document.getElementById("easteregg").src="meme.jpg";}
    
    }

      
      function RunPython1000(){
        $.ajax({
           type: "POST",
           url: "cgi-bin/test1000.py"
        });
        sleep(500);
        getJSON1();
        
      }      
      function RunPython2000(){
        $.ajax({
           type: "POST",
           url: "cgi-bin/test2000.py"
        });
        sleep(500);
        getJSON1();
        
      }
          function RunPython3000(){
        $.ajax({
           type: "POST",
           url: "cgi-bin/test3000.py"
        });
        sleep(500);
        getJSON1();
        
      }
      function RunPython4000(){
        $.ajax({
           type: "POST",
           url: "cgi-bin/test4000.py"
        });
        sleep(500);
        getJSON1();
      }
        function RunPython5000(){
        $.ajax({
           type: "POST",
           url: "cgi-bin/test5000.py"
        });
        sleep(500);
        getJSON1();
        
      }
    
      function getJSON1() {
       $.getJSON('data.json', function(data) {

           console.log(data);
           document.getElementById("UserCount").innerHTML = "Users incl. Laptops: " +data.UserCount;
           document.getElementById("Budget").innerHTML = "Est. Budget: " +data.Budget+" Wh";
           document.getElementById("UsedBudget").innerHTML = "Used Budget: " +data.UsedBudget+" Wh";
           document.getElementById("Duration").innerHTML = "Duration of Meeting: " +data.Duration +" minutes";
           
           
           document.getElementById("Remaining").innerHTML = "Remaining time of Meeting: " +data.RemainingTime+" minutes";
           document.getElementById("PercentLaptops").innerHTML = "Usage Laptops : " +data.PercentLaptops +" %";
           document.getElementById("PercentLights").innerHTML = "Usage Lights : " +data.PercentLights +" %";
           document.getElementById("PercentBeamers").innerHTML = "Usage Beamers : " +data.PercentBeamers +" %";
           
           document.getElementById("TotalUsageHour").innerHTML = "Total power consumption per hour : " +data.TotalUsageHour +" Wh";
           document.getElementById("UsageLaptops").innerHTML = "Power consumption laptops : " +data.UsageLaptops +" Wh";
           
             document.getElementById("reco").innerHTML = "Recommended actions: ";
           
           
           if(data.Color === '0'){
             
             document.getElementById("success").src="thumb1.png";
             document.getElementById("a").style="background:#f2f2f2;height:100px;width:450px"; 
             document.getElementById("reco").innerHTML = "Recommended actions: None ";
             document.getElementById("c").innerHTML=" Budget lasts till end"; 
             document.getElementById("a").innerHTML=""; 
             document.getElementById("b").innerHTML=""; 
             document.getElementById("b").style="background:#f2f2f2;height:100px;width:450px";
             document.getElementById("c").style="background:#28a745;height:100px;width:450px";
             document.getElementById("OffLaptops").innerHTML = "";
             document.getElementById("OffLights").innerHTML = "";
             document.getElementById("OffBeamers").innerHTML = "";
             document.getElementById("TimeEndBudget").innerHTML = "Time till budget is exeeded : " +data.TimeEndBudget +" minutes";
           }
          else if(data.Color === '1'){
             document.getElementById("success").src="thumb2.png";
             document.getElementById("a").style="background:#f2f2f2;height:100px;width:450px"; 
             document.getElementById("c").style="background:#f2f2f2;height:100px;width:450px"; 
             document.getElementById("b").style="background:#ffc107;height:100px;width:450px";
             document.getElementById("a").innerHTML=""; 
             document.getElementById("b").innerHTML=" Budget insufficient "; 
             document.getElementById("c").innerHTML="";
             document.getElementById("OffLaptops").innerHTML = "Switch off: " +data.OffLaptops +" Laptop(s)";
             document.getElementById("OffLights").innerHTML = "Switch off: " +data.OffLights +" Light(s)";
             document.getElementById("OffBeamers").innerHTML = "Switch off: " +data.OffBeamers +" Beamer(s)";
             document.getElementById("TimeEndBudget").innerHTML = "Time till budget is exeeded : " +data.TimeEndBudget +" minutes";
           } else {
             
             document.getElementById("success").src="thumb3.png";
             document.getElementById("c").style="background:#f2f2f2; height:100px;width:450px"; 
             document.getElementById("b").style="background:#f2f2f2;height:100px;width:450px";  
             document.getElementById("a").style="background:#dc3545;height:100px;width:450px"; 
             document.getElementById("a").innerHTML="!! Budget exceeded !!";
             document.getElementById("b").innerHTML=""; 
             document.getElementById("c").innerHTML=""; 
             document.getElementById("OffLaptops").innerHTML = "Switch off: " +data.OffLaptops +" Laptop(s)";
             document.getElementById("OffLights").innerHTML = "Switch off: " +data.OffLights +" Light(s)";
             document.getElementById("OffBeamers").innerHTML = "Switch off: " +data.OffBeamers +" Beamer(s)";
             document.getElementById("TimeEndBudget").innerHTML = "Time till budget is exeeded : " +data.TimeEndBudget +" minutes";
            }
          
         });

       };
        
      function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
          if ((new Date().getTime() - start) > milliseconds){
            break;
            }
          }
        }
  
    </script>
  
  </div>
</Body>
